body {
  background-color: rgba(240, 230, 240);
}
.App {
  max-width: 960px;
  margin: 0 auto;
}
.App-logo {
  display: block;
  margin: 0 auto;
  max-width: 100px;
}

.container {
  margin: 30px;
}
.App-footer {
  text-align: center;
  margin-top: 20px;
}

.App-footer small {
  font-size: 35px;
  font-weight: bold;
}

.App .informations p {
  color: black;
  font-size: 14px;
}

.App .informations a {
  background-color: rgb(225, 220, 230);
  color: blueviolet;
  font-size: 16px;
}
